body {
  font-family: "Sohne", Arial, Helvetica, sans-serif;
  color: white;
}

h1 {
  font-family: "Aspira", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-right: 0.3rem;
  margin-left: -0.65rem;
}

h5 {
  font-weight: 400;
}

.pos-desc-1 {
  font-family: "Sohne Bold", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 4.2rem;
  line-height: 98%;
  letter-spacing: 0.05rem;
  width: 75vw;

  height: 10rem;
  overflow: hidden; /* Ensures text doesn't overflow */
  vertical-align: bottom; /* Adjust vertical alignment if needed */
  color: #fff;
}

.pos-desc-2 {
  margin-top: -1rem;
}

.hero-cta {
  border: none;
  color: white;
  font-weight: 600;
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
}

.hero-cta h2 {
  margin-left: 0;
  padding-left: 0;
  padding-top: 0.5rem;
  padding-right: 0.3rem;
}

.hero-cta:hover {
  border: none;
  /* background-color: white; */
  /* color: rgb(23, 23, 23); */
  color: #6a6c6e;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 30px, 0);
    -webkit-transform: translate3d(0, 30px, 0);
    -moz-transform: translate3d(0, 30px, 0);
    -ms-transform: translate3d(0, 30px, 0);
    -o-transform: translate3d(0, 30px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.layout-hero {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
  margin-top: 0;
  align-items: center;
  min-height: 100vh;
}

.hero-card {
  background-color: #000;
  border-radius: 1rem;
}

@media screen and (max-width: 1080px) {
  .container-main {
    top: 0%;
  }
  .pos-desc-1 {
    width: 60vw;
    height: 15rem;
  }
}

@media screen and (max-width: 850px) {
  .container-main {
    top: 2%;
  }

  .pos-desc-1,
  .contact-text {
    width: 55vw;
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 768px) {
  .site-navbar-brand {
    padding-left: 8.6rem;
  }
}

@media screen and (max-width: 767px) {
  .site-navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .container-main {
    top: 9%;
  }

  .pos-desc-1,
  .contact-text {
    font-size: 2.6rem ;
  }

  div {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media screen and (max-width: 480px) {
  a {
    font-size: 1.3rem;
    z-index: 3;
  }

  /*.navbar-brand {*/
  /*  padding-left: 3.8rem;*/
  /*}*/

  .contact-text {
    display: none;
  }

  .layout-hero {
    margin: 0;
  }

  .container-main {
    position: absolute;
  }

  .pos-desc-1 {
    text-transform: none;
    font-weight: normal;
    font-size: 3.1rem;
    text-align: left;
    justify-content: center;
    line-height: 100%;
    height: 20rem;
    width: 66vw;
  }

  .pos-desc-2 {
    margin-top: 0rem;
  }

  .start-btn {
    display: flex;
  }

  .start-btn:hover {
    color: #b5b3b3;
  }

  h2 {
    font-size: 1rem;
  }
}
